@model User
@{
    ViewData["Title"] = "Profile";
}

<form asp-action="Index">
    <div>
        <button asp-controller="Back" asp-action="AddGames">Назад</button>
    </div>
    <div>
        <button asp-controller="Back" asp-action="Exit">Выход</button>
    </div>
<div class="profile-container">
    <img src="@Model.Avatar" class="avatar" alt="Аватар" style="width: 100px; border-radius: 50%;">
    <h1>Профиль пользователя @Model.Username</h1>
    <a>Дата регистраии пользователя: @Model.DataRegistration</a>
    <div>
            <a>Последний раз онлайн @Model.LastOnline</a>
    </div>
    <p>Всего игр: @ViewBag.GameCount</p>
    
    @if (ViewBag.AllGames != null && ViewBag.AllGames.Count > 0)
    {
        <h3>Список игр:</h3>
        <ul>
            @foreach (var gameUser in ViewBag.AllGames)
            {
                <li>
                    @gameUser.IdGameNavigation.Name -
                    Ранг: @gameUser.Rank,
                    Роль: @gameUser.Role
                </li>
            }
        </ul>
    }
    else
    {
        <p>У пользователя пока нет игр</p>
    }
    <div>
        <h2>Комментарии:</h2>
        @if (ViewBag.Comments != null && ViewBag.Comments.Count > 0)
        {
            @foreach (var comm in ViewBag.Comments)
            {
                <div class="comment">
                    <img src="@comm.IdUserNavigation?.Avatar" class="comment-avatar" />
                    <div>
                        <p><strong>@comm.IdUserNavigation?.Username:</strong> @comm.Comm1</p>
                        <p>Оценка: @comm.Grade</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Пока нет комментариев</p>
        }
    </div>
    <div>
            
            <p>Cредняя оценка: @(ViewBag.SocialCredits?.ToString("0.00") ?? "нет данных")</p>
    </div>
</div>
<button asp-controller="ViewAdversment" asp-action="AllUserAdversmet">Мои объявлеиня</button>
</form>