@model User
@{
    ViewData["Title"] = "UserFind";
}
<form asp-controller="SearchTim" asp-action="UserFind">
    <div class="profile-container">
        <div class="profile-header">
            <img src="@Model.Avatar" class="profile-avatar">
            <h1>@Model.Username</h1>
            <p>Зарегистрирован: @Model.DataRegistration.ToShortDateString()</p>
            <p>Последний раз онлайн: @Model.LastOnline</p>
        </div>

        <div class="profile-games">
            <h2>Игры пользователя:</h2>
            @foreach (var gameUser in Model.GamesUsers)
            {
                <div class="game-card">
                    <h3>@gameUser.IdGameNavigation.Name</h3>
                    <p>Роль: @gameUser.Role</p>
                </div>
            }
        </div>
    </div>
</form> 